<div class="bg_load"></div>
<div class="wrapper">
    <div class="inner">
        <span>L</span>
        <span>o</span>
        <span>a</span>
        <span>d </span>
        <span>i</span>
        <span>n</span>
        <span>g</span>
    </div>
</div>
<script>

    $(function () {
        $(window).load(function () {
            $(".bg_load").fadeOut("slow");
            $(".wrapper").fadeOut("slow");
        })

    });
</script>