<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



<div id="hub">
    <h1 id="hub">HUB</h1>
    <img src="/images/plus.png" width="50" height="50">
    <img src="/images/cross.png" width="50" height="50">
    <img src="/images/search.png" width="50" height="50">
</div>
<div style="display:flex;justify-content: center;margin:15px;">
    <input style="margin-right:30px" type="text" class="form-control" id="Search" placeholder="Search..">
    <button id="btn-add" type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalAdd">Add</button>
    <button style='margin-left:10px' id="btn-del" type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalDel">Delete</button>
</div>

<div class="">
    <div class="content">
        <div class="modal" id="ModalAdd" data-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Add New Hub</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <form id="formAdd" action="hubadd" method="POST" enctype="multipart/form-data">
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" class="form-control" name="name" placeholder="Hub name" required>
                            </div>
                            <div class="form-group">
                                <label for="phone">Telephone</label>
                                <input name="phone" onKeyDown="if(this.value.length===14) return false;" type="tel"
                                    class="tel form-control" x-autocompletetype="tel" placeholder="(081) 123-4567">

                            </div>
                            <div class="form-group">
                                <label for="address">Address</label>
                                <textarea class="form-control" id="address" rows="10" name="address" required></textarea>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button id="btnAdd" class="btn btn-danger">Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <%
        let card =`<div id="createCard" class="card-deck">`
        for (let i = 0; i < rows.length; i++) {
            card += `<div id="ff" class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <form id=${rows[i].ID} action="/hublist" method="POST">
                        <div class="card border-dark mb-3 bg-cyan" style="max-width: 50rem;">
                            <div  class="card-header bg-transparent border-dark">  <h5 id='nameHub'style="text-align: center" class="card-title">${rows[i].Name}</h5>
                                </div>
                                  <input type="hidden" name="name" value=${rows[i].Name}>
                            <div id="testt" class="card-body text-dark">
                                    <div ><strong>Address : </strong>  ${rows[i].Address}</div>
                                    <br>
                                    <div><strong>Tel : </strong> ${rows[i].Tel}</div>
                            </div>
                          
                            <div id="backna" class="card-footer"><div class="Aligner">   
                                    <div class="dropdown " style="float: left; padding: 9px; ">
                                            <a href="javascript:{}" onclick="document.getElementById(${rows[i].ID}).submit();">
                                                <i class="fa fa-bell" style="font-size:36px;color:#ffc140 "></i>
                                                </i>
                                            </a>
                                            <span class="badge badge-danger">${count[rows[i].Name]===undefined?"":count[rows[i].Name]}</span>
                                        </div>
                                    </div>
                                
                        </div>
                    </div>
                </form>  
            </div>`
        }
    %>
        <%-card%>
    </div>
    <div class="modal" id="ModalDel" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Delete Hub</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <select name="selValue" class="custom-file selectpicker" id="inputGroupSelect01"
                            data-live-search="true">
                            <option selected></option>
                            <%
                                let option="";
                                    for (let i = 0; i < rows.length; i++) {
                                        option +=`<option>${rows[i].Name}</option>`
                                    }
                                %>
                            <%-option%>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="del" onclick="showConfirmationNotification('confirmNotifi')" type="button" class="btn btn-danger"
                        data-dismiss="modal">Delete</button>
                </div>
            </div>
        </div>
    </div>

    <div id="confirmNotifi" class="confirmNotifi" onclick="hideConfirmationNotification(this)">
        <div class="content">
            <div class="title">
                <h2>Delete this file?</h2>
                This action is final and you won't be able to recover any data
            </div>
            <form id="delhub" action="hubdel" method="POST">
                <div class="yes" onclick="document.getElementById('delhub').submit();">Delete</div>
                <div class="no">Cancel</div>
                <input id="delHubOn" type="hidden" name="del" value="">
            </form>
        </div>
    </div>
</div>
</div>

<script>
 

    const allowFileType = {
        "image/jpg": true,
        "image/png": true,
        "image/jpeg": true
    };
    let files;
    $("#imgInp").change(function (e) {
        files = e.target.files[0].type;
    })
    $("#btnAdd").click(function (e) {

    })

    jQuery(function ($) {
        var input = $('[name=phone]')
        input.mobilePhoneNumber({ allowPhoneWithoutPrefix: '+1' });
        input.bind('country.mobilePhoneNumber', function (e, country) {
            $('.country').text(country || '')
        })
    });

    function showConfirmationNotification(id) {
        document.getElementById(id)
            .classList.add("show");
    }

    function hideConfirmationNotification(x) {
        x.classList.remove("show");
    }

    $(document).ready(function () {
        $('#inputGroupSelect01').selectpicker({
            style: '',
            size: 4
        });
    });

    $(document).ready(function () {
        $('.selectpicker').selectpicker()
        $('#del').click(function () {
            let bar = $(".selectpicker").find("option:selected").val();
            $("#delHubOn").attr("value", bar)
        });
    });


    function test(id) {
        id = "." + id
        //console.log(id)
        var el = document.querySelector(id);
        var count = Number(el.getAttribute('data-count')) || 0;
        el.setAttribute('data-count', 20);
        console.log(el.getAttribute('data-count'))
        el.classList.remove('notify');
        el.offsetWidth = el.offsetWidth;
        el.classList.add('notify');
        if (count === 0) {
            el.classList.add('show-count');
        }

    }

    $(document).ready(function () {
        $("#Search").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $(".card").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });


</script>