<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-ListItem-tab" data-toggle="tab" href="#nav-ListItem" role="tab"
            aria-controls="nav-ListItem" aria-selected="true">Shipping</a>
        <a class="nav-item nav-link" id="nav-Stock-tab" data-toggle="tab" href="#nav-Stock" role="tab" aria-controls="nav-Stock"
            aria-selected="false">Completed</a>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-ListItem" role="tabpanel" aria-labelledby="nav-ListItem-tab">
            <table id="Shipping" class="display">
            <% let table = "" %>
            <% if(rows.length!==0){ %>

            <% let head = Object.keys(rows[0])
                          .reduce((sum,val)=>{
                              return sum+=`<th>${val}</th>`
                          },'');
                          const body = rows
                          .reduce((sum,val)=>{
                              sum+=`<tr>`;
                              for(let i in val){
                                  sum+=`<td>${val[i]}</td>`;
                              }
                              return sum+=`</tr>`;
                          },'');
                          table = `<thead><tr>${head}</tr></thead><tbody>${body}</tbody>`;
                          %>
            <% } else{ %>
            <%table = `<thead><tr><th></th></tr></thead>`;%>
            <% } %>
            <%-table%>
        </table>
    </div>
    <div class="tab-pane fade" id="nav-Stock" role="tabpanel" aria-labelledby="nav-Stock-tab">
        <table id="completed" class="display">
            <% let tableCompleted = "" %>
            <% if(rowsCompleted.length!==0){ %>
            <% let head = Object.keys(rowsCompleted[0])
                          .reduce((sum,val)=>{
                              return sum+=`<th>${val}</th>`
                          },'');
                          const body = rowsCompleted
                          .reduce((sum,val)=>{
                              sum+=`<tr>`;
                              for(let i in val){
                                  sum+=`<td>${val[i]}</td>`;
                              }
                              return sum+=`</tr>`;
                          },'');
                          tableCompleted = `<thead><tr>${head}</tr></thead><tbody>${body}</tbody>`;
                          %>
            <% } else{ %>
            <%tableCompleted = `<thead><tr><th></th></tr></thead>`;%>
            <% } %>
            <%-tableCompleted%>
        </table>
    </div>
</div>

            <form id="shippingCompleted" action="hublist" method="POST">
                <input id="soCompleted" type="hidden" name="completed" value="">
                <%let nameHub = `<input id="hubCompleted" type="hidden" name="names" value=${names.name}>`%>
                <%-nameHub%>
                
           
                
            </form>




<script>
    $(function () {
        let Shipping = $('#Shipping').DataTable({
            responsive: true
        });
        let Completed = $('#completed').DataTable({
            responsive: true
        });
        let stock = $('#stock').DataTable({
            responsive: true,
        });

        $('#completed tbody').on('click', 'tr', function () {
            let completed = Completed.row(this).data();
        })
        $('#Shipping tbody').on('click', 'tr', function () {
            let dataShipping = Shipping.row(this).data();
            swal({
                title: "Are you sure?",
                text: "Once deleted, you will not be able to recover this imaginary file!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        swal("Poof! Your imaginary file has been deleted!", {
                            icon: "success",
                            buttons: false,
                        });
                            setTimeout(function(){  
                            $("#soCompleted").attr("value", dataShipping[0]);
                            $("#shippingCompleted").submit(); }, 610);
                    }
                }).then((res)=>{
                   
                });
            // alert("shipping : " + Shipping.column().data().length)
        });
        $('#stock tbody').on('click', 'tr', function () {
            let dataStock = stock.row(this).data();
            alert('You clicked on ' + dataStock[0] + '\'s row');
        });
    });
</script>