

<div class="order">
    <h2 id="order">ใบสั่งซื้อ / ใบส่งของ</h2>

    <div class="div1">
        <div class="item1">
            <img src="images/AutoPair_logo_darkblue.png" width="150px" height="30px"><br>
            <span>บริษัท ออโต้แพร์ จำกัด (สำนักงานใหญ่)</span><br>
            อาคารเกษร ทาวเวอร์<br>
            กรุงเทพฯ 10330 โทร 098-395-6595
        </div>
        <div class="item2">
            <p id="p2">เลขที่<span id="spanso"><%= rows[0].SO %></span></p>
            <p id="p2">วันที่<span id="span1"><%= rows[0].order_date %></span></p>
            <p id="p2">พนักงานขาย<span id="span1"><%= rows[0].employee %></span></p>
            <p id="p2">เบอร์โทร<span id="span1"><%= rows[0].phone %></span></p>
            <p id="p2">วันที่สั่งของ<span id="span1"><%= rows[0].order_date %></span></p>
        </div>
    </div>

    <br>
    <p id="p1">Hub / สาขาย่อย</p>
    <select id="selecthub">
        <option>Select Hub</option>
        <% rows3.forEach(rows3 => { %>
        <option><%= rows3.Name %></option>
        <% }); %>
    </select>

    <br>
    <table id="desc">
        <thead>
            <tr>
                <th>Item</th>
                <th>รายละเอียด</th>
                <th>จำนวน</th>
                <th>ราคาต่อหน่วย</th>
                <th>รวม (บาท)</th>
            </tr>
        </thead>
        <tbody>
                <% rows.forEach(rows => { %>
                    <tr>
                        <td></td>
                        <td><%= rows.Details %></td>
                        <td><%= rows.unit %></td>
                        <td><%= rows.price %></td>
                        <td><%= rows.price*rows.unit%></td>
                    </tr>
                <% }); %>
        </tbody>
    </table>
    <table id="total">
        <tbody>
                <tr>
                    <td><p class="p3">ราคารวมทั้งสิ้น</p></td>
                    <td><p><%= rows2[0].total_price%></p></td>
                </tr>
        </tbody>
    </table>

    <div class="div2">
        หมายเหตุ: เครดิต 30 วัน<br>
        กรุณาโอนเข้าบัญชี ธ.กสิกรไทย<br>
        เลขที่บัญชี 041-1-84461-7<br>
        ชื่อบัญชี น.ส.รัชชต เศรษฐ์วรเดช และ นาย สันติ วจนพานิช<br>
        หากพ้นกำหนด บริษัทฯ จะคิดดอกเบี้ยในอัตราร้อยละ 1.5 ต่อเดือนนับจากวันครบกำหนด
    </div>

    <div class="flex-container2">
        <div class="divbt">
            <p>ผู้สั่งซื้อสินค้า</p>
        </div>
        <div class="divbt">
            <p>วันที่</p>
        </div>
        <div class="divbt">
            <p>ผู้อนุมัติ</p>
        </div>
        <div class="divbt">
            <p>วันที่</p>
        </div>
    </div>
</div>
    <div class="button">
        <button type="button" class="btn btn-primary" onclick="functionPrint()">พิมพ์</button>
        <button type="button" class="btn btn-info">ยืนยัน</button>
    </div>
<script>
    $(".btn-info").click(function () {
            if (document.getElementById("selecthub").value === "Select Hub") {
                $("#selectModal").modal("show")
            } else {
                $("#okModal").modal("show")
                $(".btn-success").click(function(){
                    const selected = document.getElementById("selecthub").value
                    const orderSo = document.getElementById("spanso").innerHTML
                    $("#orderHub").val(selected)
                    $("#orderSo").val(orderSo)
                    $("#orderForm").attr('action', '/saleslist').submit()
                })
            }
        })
</script>
<script>
    function functionPrint() {
        $(".btn-primary").hide()
        $(".btn-info").hide()
        window.print()
        $(".btn-primary").show()
        $(".btn-info").show()

    }
</script>

<form method="post" name="orderForm" id="orderForm">
        <input type="hidden" id="orderHub" name="orderHub">
        <input type="hidden" id="orderSo" name="orderSo">
</form>

<div class="modal fade" id="selectModal">
    <div class="modal-dialog">
        <div class="modal-content">
            
            <!-- Modal body -->
            <div class="modal-body">
              กรุณาเลือกสาขาย่อย
            </div>
            
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
            
        </div>
    </div>
</div>

<div class="modal fade" id="okModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-body">
                ยืนยันการสั่งซื้อ
            </div>
                
            <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-success" data-dismiss="modal">OK</button>
            </div>  
        </div>
    </div>
</div>
