<div class="saleslist">
<br>
<h1>รายการใบสั่งซื้อ</h1>
<br>
<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-ListItem-tab" data-toggle="tab" href="#nav-ListItem" role="tab" aria-controls="nav-ListItem" aria-selected="true">New list</a>
      <a class="nav-item nav-link" id="nav-Stock-tab" data-toggle="tab" href="#nav-Stock" role="tab" aria-controls="nav-Stock" aria-selected="false">Complete List</a>
    </div>
  </nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-ListItem" role="tabpanel" aria-labelledby="nav-ListItem-tab">
<table id="saleslist">
    <thead>
        <tr>
            <th>Service Order</th>
            <th>วันที่สั่งซื้อ</th>
            <th>ผู้รับผิดชอบ</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
            <% rows.forEach(rows => { %>
                <tr>
                    <td><%= rows.SO %></td>
                    <td><%= rows.order_date %></td>
                    <td><%= rows.employee %></td>
                    <td><button type="button" class="btn btn-outline-info">รายละเอียด</button></td>
                </tr>
                <% }); %>
            
            </tbody>
 </table>
 </div>
 <div class="tab-pane fade" id="nav-Stock" role="tabpanel" aria-labelledby="nav-Stock-tab">
 <table id="complete">
    <thead>
        <tr>
            <th>Service Order</th>
            <th>วันที่สั่งซื้อ</th>
            <th>ผู้รับผิดชอบ</th>
            <th>สาขาย่อย</th>
        </tr>
    </thead>
    <tbody>
            <% slrows.forEach(slrows => { %>
                <tr>
                    <td><%= slrows.SO %></td>
                    <td><%= slrows.order_date %></td>
                    <td><%= slrows.employee %></td>
                    <td><%= slrows.hub %></td>
                </tr>
                <% }); %>           
            </tbody>
 </table>
 </div>

 <script>
        $(function () {
        let table = $('#saleslist').DataTable({
                responsive: true,
                scrollY: 500,
                scrollX: true,
                scrollCollapse: true,
            })
        let table2 = $('#complete').DataTable({
                responsive: true
            })

        $('#saleslist tbody').on('click', 'tr', function () {
            const val = table.row(this).data();
            const saleid = val[0]
            //console.log(saleid)
            $("#saleID").val(saleid)
            $("#saleForm").attr('action','/order').submit()  
        })
    } );
    </script>
    <form method="post" name="saleForm" id="saleForm">
        <input type="hidden" id="saleID" name="saleID">
    </form>
    </div>
    </div>
    
  