<div class="stock">
    <h1>Stock</h1>
    <br>

    <table id="stock">
        <thead>
            <tr>
                <% for (let i in row) { %>
                <th>
                    <%= row[i] %>

                </th>
                <% };%>
            </tr>
        </thead>
        <tbody>
                <%for (let i in rows) { %>
                    <tr>
                        <%for (let j in rows[i]) {%>
                            <td><%= rows[i][j] %></td>
                        <% };%>         
    
                    </tr>
                <% };%>

        </tbody>
    </table>
    <script>
        
            let table = $('#stock').DataTable({
                responsive: true,
                scrollY: 500,
                scrollX: true,
                scrollCollapse: true,
               // paging: false,
                fixedColumns: {
                    leftColumns: 2
                }
            });
            $('#stock tbody').on('click', 'tr', function () {
                const val = table.row(this).data();
                alert('You clicked on ' + val[0] + '\'s row');
                //console.log(saleid)
            })
   
    </script>
    <form method="post" name="saleForm" id="saleForm">
        <input type="hidden" id="saleID" name="saleID">
    </form>
</div>