<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        <%=title%>
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href=<%=css%> rel="stylesheet" type="text/css">

    <link href="css/mediaQuery.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="css/style3.css">

    <link href="js/@coreui/icons/css/coreui-icons.min.css" rel="stylesheet">
    <link href="js/flag-icon-css/css/flag-icon.min.css" rel="stylesheet">
    <link href="js/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-118965717-3"></script>


    <script src="js/jquery/dist/jquery.min.js"></script>
    <script src="js/popper.js/dist/umd/popper.min.js"></script>
    <script src="js/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="js/@coreui/coreui/dist/js/coreui.min.js"></script>
    <script src="js/@coreui/coreui-plugin-chartjs-custom-tooltips/dist/js/custom-tooltips.min.js"></script>
    <script src="/js/main.js"></script>

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.3/themes/sunny/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/css/bootstrap-select.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/bootstrap-select.min.js"></script>

    <script src="https://cdn.jsdelivr.net/jquery.caret/0.1/jquery.caret.js"></script>
    <script src="https://www.solodev.com/assets/phone/jquery.mobilePhoneNumber.js"></script>

    <link rel="stylesheet" href="https://cdn.datatables.net/plug-ins/9dcbecd42ad/integration/jqueryui/dataTables.jqueryui.css">
    <script src="https://cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/9dcbecd42ad/integration/jqueryui/dataTables.jqueryui.js"></script>
    
    <script src="https://cdn.jsdelivr.net/jquery.caret/0.1/jquery.caret.js"></script>
    <script src="https://www.solodev.com/assets/phone/jquery.mobilePhoneNumber.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="js/sweetalert/dist/sweetalert.min.js"></script>
  


    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        // Shared ID
        gtag('config', 'UA-118965717-3');
        // Bootstrap ID
        gtag('config', 'UA-118965717-5');
    </script>


</head>

<% if (title==="login") { %>
    <% include login%>
<% } %>
<% if (title!=="login") { %>
    <body style="background-color: #9be3e3;" class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
    <header class="app-header navbar">
        <button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button" data-toggle="sidebar-show">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">
            <img class="navbar-brand-full" src="images/autopair.png" width="150" height="35" alt="CoreUI Logo">
        </a>
        <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button" data-toggle="sidebar-lg-show">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="nav navbar-nav d-md-down-none">
            <li class="nav-item px-3">
                <a class="nav-link" href="/index">Dashboard</a>
            </li>
            <li class="nav-item px-3">
                <a class="nav-link" href="/saleslist">Sales Department</a>
            </li>
            <li class="nav-item px-3">
                <a class="nav-link" href="/po_list">po_list</a>
            </li>
            <li class="nav-item px-3">
                <a class="nav-link" href="/hub">Hub</a>
            </li>
        </ul>

        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item dropdown d-md-down-none">
                <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                    aria-expanded="false">
                    <i class="icon-bell"></i>
                    <span class="badge badge-pill badge-info">4</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg anyClass">
                    <div class="dropdown-header text-center">
                        <strong>Notifications</strong>
                    </div>
                    <a class="dropdown-item" href="#">
                        <div class="message">
                            <div class="py-3 mr-3 float-left">
                                <div class="avatar">
                                    <img class="img-avatar" src="images/avatars/7.jpg" alt="admin@bootstrapmaster.com">
                                    <span class="avatar-status badge-success"></span>
                                </div>
                            </div>
                            <div>
                                <small class="text-muted">John Doe</small>
                                <small class="text-muted float-right mt-1">Just now</small>
                            </div>
                            <div class="text-truncate font-weight-bold">
                                <span class="fa fa-exclamation text-danger"></span> Important message</div>
                            <div class="small text-muted text-truncate">Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit, sed
                                do eiusmod tempor incididunt...</div>
                        </div>
                    </a>
                    <a class="dropdown-item" href="#">
                        <div class="message">
                            <div class="py-3 mr-3 float-left">
                                <div class="avatar">
                                    <img class="img-avatar" src="images/avatars/6.jpg" alt="admin@bootstrapmaster.com">
                                    <span class="avatar-status badge-warning"></span>
                                </div>
                            </div>
                            <div>
                                <small class="text-muted">John Doe</small>
                                <small class="text-muted float-right mt-1">5 minutes ago</small>
                            </div>
                            <div class="text-truncate font-weight-bold">Lorem ipsum dolor sit amet</div>
                            <div class="small text-muted text-truncate">Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit, sed
                                do eiusmod tempor incididunt...</div>
                        </div>
                    </a>
                    <a class="dropdown-item" href="#">
                        <div class="message">
                            <div class="py-3 mr-3 float-left">
                                <div class="avatar">
                                    <img class="img-avatar" src="images/avatars/5.jpg" alt="admin@bootstrapmaster.com">
                                    <span class="avatar-status badge-danger"></span>
                                </div>
                            </div>
                            <div>
                                <small class="text-muted">John Doe</small>
                                <small class="text-muted float-right mt-1">1:52 PM</small>
                            </div>
                            <div class="text-truncate font-weight-bold">Lorem ipsum dolor sit amet</div>
                            <div class="small text-muted text-truncate">Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit, sed
                                do eiusmod tempor incididunt...</div>
                        </div>
                    </a>
                    <a class="dropdown-item" href="#">
                        <div class="message">
                            <div class="py-3 mr-3 float-left">
                                <div class="avatar">
                                    <img class="img-avatar" src="images/avatars/4.jpg" alt="admin@bootstrapmaster.com">
                                    <span class="avatar-status badge-info"></span>
                                </div>
                            </div>
                            <div>
                                <small class="text-muted">John Doe</small>
                                <small class="text-muted float-right mt-1">4:03 PM</small>
                            </div>
                            <div class="text-truncate font-weight-bold">Lorem ipsum dolor sit amet</div>
                            <div class="small text-muted text-truncate">Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit, sed
                                do eiusmod tempor incididunt...</div>
                        </div>
                    </a>
                    <a class="dropdown-item text-center" href="#">
                        <strong>View all messages</strong>
                    </a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                    aria-expanded="false">
                    <img style="margin-right:20px;" class="img-avatar" src="images/avatars/6.jpg" alt="admin@bootstrapmaster.com">
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg">
                    <div class="dropdown-header text-center ">
                        <div class="avatarmini">
                            <img class="img-avatar " src="images/avatars/5.jpg" alt="admin@bootstrapmaster.com">
                        </div>
                        <div class=""></div>
                        <div class="text-truncate font-weight-bold">
                            <span class="fa fa-exclamation text-danger"></span>
                            <h4><strong>John Cena</strong> </h4>
                        </div>
                    </div>
                    <a class="dropdown-item" href="#">
                        <i class="fa fa-user"></i> Profile</a>
                    <a class="dropdown-item" href="#">
                        <i class="fa fa-wrench"></i> Settings</a>
                    <a class="dropdown-item" href="/">
                        <i class="fa fa-lock"></i> Logout</a>
                </div>
                </div>
            </li>
        </ul>
    </header>
    <div class="app-body">
        <div class="sidebar">
            <nav class="sidebar-nav">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/index">
                            <i class="nav-icon icon-speedometer"></i> Dashboard
                            <span class="badge badge-primary">NEW</span>
                        </a>
                    </li>
                    <li class="nav-title">Components</li>
                    <li class="nav-item nav-dropdown">
                        <a class="nav-link nav-dropdown-toggle" href="">
                            <i class="nav-icon icon-cursor"></i> Sales Department</a>
                        <ul class="nav-dropdown-items" style="margin-left:22px">
                            <li class="nav-item">
                                <a class="nav-link" href="/saleslist">
                                    <i class="nav-icon icon-cursor"></i> Saleslist</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item nav-dropdown">
                        <a class="nav-link nav-dropdown-toggle" href="#">
                            <i class="nav-icon icon-cursor"></i> Supplier</a>
                        <ul class="nav-dropdown-items" style="margin-left:22px">
                            <li class="nav-item">
                                <a class="nav-link" href="/stock">
                                    <i class="nav-icon icon-cursor"></i> Stock</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/po_list">
                                    <i class="nav-icon icon-cursor"></i> list_PO</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <i class="nav-icon icon-cursor"></i> Creat_PO</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item nav-dropdown">
                        <a class="nav-link nav-dropdown-toggle" href="#">
                            <i class="nav-icon icon-star"></i> Hub</a>
                        <ul class="nav-dropdown-items" style="margin-left:22px">
                            <li class="nav-item">
                                <a class="nav-link" href="/hub">
                                    <i class="nav-icon icon-star"></i> AllHub</a>
                            </li>
                        </ul>
                    </li>
                    <li class="divider"></li>
                </ul>
            </nav>
            <button class="sidebar-minimizer brand-minimizer" type="button"></button>
        </div>

        <main class="main">
            <!-- Breadcrumb-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Home</li>
                <li class="breadcrumb-item">
                    <a href="#">Admin</a>
                </li>
                <li class="breadcrumb-item active">Dashboard</li>
                <!-- Breadcrumb Menu-->
                <li class="breadcrumb-menu d-md-down-none">
                    <div class="btn-group" role="group" aria-label="Button group">
                        <a class="btn" href="#">
                            <i class="icon-speech"></i>
                        </a>
                        <a class="btn" href="./">
                            <i class="icon-graph"></i>  Dashboard</a>
                        <a class="btn" href="#">
                            <i class="icon-login"></i>  Settings</a>
                    </div>
                </li>
            </ol>
            <div class="container-fluid">
                <div class="animated fadeIn">
                    

                        <!-- TODO CARD ------------------------------------------------------------------>

                        <%-body%>

                        <!-- END TODO CARD -------------------------------------------------------------->

                   
                </div>
            </div>
        </main>
    </div>
    <footer class="app-footer">
        <div>
            <a href="">Autopair</a>
            <span>&copy; 2018 Autopair.</span>
        </div>
        <div class="ml-auto">
            <span>Powered by</span>
            <a href="">Autopair</a>
        </div>
    </footer>
</body>
<% } %>

</html>