@media (min-width: 355px) { 
  body {
    font-size: 13px;
  }
  #h-size{
    text-align: center;
    font-size: 18px;
  }
 }
@media (min-width: 576px) { 
  body {
    font-size: 16px;
  }
  #h-size{
    text-align: center;
    font-size: 25px;
  }
 }
@media (min-width: 768px) {
  body {
    font-size: 15px;
  }
  #h-size{
    text-align: center;
    font-size: 19px;
  }
}

@media (min-width: 992px) {
  body {
    font-size: 12px;
  }
  #h-size{
    text-align: center;
    font-size: 20px;
  }
 }

@media (min-width: 1200px) {
  body {
    font-size: 15px;
  }
  #h-size{
    text-align: center;
    font-size: 20px;
  }
}

.buttons{
  display:flex;
  justify-content: flex-end;
}

.content {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.card{
  margin-top: 50px;
  margin-bottom: 50px;
}

.flip-card {
  background-color: transparent;
  width: auto;
  height: 250px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateX(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color:beige;
  color: black;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateX(180deg);
}

textarea {
  width: 120px;
  height: 120px;
}

#closeModal{
  display:flex;
  justify-content: flex-end;
}
#testNa{
  background-color: #2980b9;
}

#img-card {
  object-fit: fill; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  height: 350px; 
  width: 350px; 
  max-width: 100%; 
  max-height: 100%;
}


body{
    background:#fff;
}
.confirmNotifi {
    background:rgba(0,0,0,0.7);
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    color:#000;
    font-size:large;
    text-align:center;
    font-family:"Arial Black", Gadget, sans-serif;
    opacity:0;
    visibility:hidden;
    transition:.3s;
    perspective:100vh;
}
.confirmNotifi.show {
    opacity:1;
    visibility:visible;
}
.confirmNotifi .content {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%) rotateX(-90deg);
    transition:.3s;
    perspective:100vh;
}
.confirmNotifi.show .content {
    transform:translate(-50%,-50%);
    transition:.7s cubic-bezier(.7,.5,0,1.8);
}
.confirmNotifi .title {
    background:hsl(0,0%,90%);
    padding:50px;
    border-radius:10px 10px 0 0;
}
.confirmNotifi .title h2 {
    margin-top:0;
}
.confirmNotifi .yes,
.confirmNotifi .no {
    width:50%;
    float:left;
    padding:20px;
    box-sizing:border-box;
    transform:rotateX(90deg);
    transition:.3s;
    transform-origin:50% 0;
}
.confirmNotifi.show .yes,
.confirmNotifi.show .no {
    transform:rotateX(0);  
}
.confirmNotifi .yes {
    background:hsl(120,100%,60%);
    border-radius:0 0 0 10px;
}
.confirmNotifi.show .yes {
    transition:.7s .2s cubic-bezier(.7,.5,0,1.8);
}
.confirmNotifi.show .no {
    transition:1s .2s cubic-bezier(.7,.5,0,1.8);
}
.confirmNotifi .no {
    background:hsl(0,100%,60%);
    border-radius:0 0 10px;
}
.confirmNotifi.show .yes:hover,
.confirmNotifi.show .no:hover {
    transform:rotateX(-25deg); 
    transition:.3s;
}
.confirmNotifi .content > * {
    box-shadow:4px 4px 16px rgba(0,0,0,0.3);
}

@media (max-width:600px){
    .confirmNotifi .content {
        width:80%;
    }
}




/* ----------------------------------- */

body{
  background:#fff;
}
.confirmNotifi {
  background:rgba(0,0,0,0.7);
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  color:#000;
  font-size:large;
  text-align:center;
  font-family:"Arial Black", Gadget, sans-serif;
  opacity:0;
  visibility:hidden;
  transition:.3s;
  perspective:100vh;
}
.confirmNotifi.show {
  opacity:1;
  visibility:visible;
}
.confirmNotifi .content {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%) rotateX(-90deg);
  transition:.3s;
  perspective:100vh;
}
.confirmNotifi.show .content {
  transform:translate(-50%,-50%);
  transition:.7s cubic-bezier(.7,.5,0,1.8);
}
.confirmNotifi .title {
  background:hsl(0,0%,90%);
  padding:50px;
  border-radius:10px 10px 0 0;
}
.confirmNotifi .title h2 {
  margin-top:0;
}
.confirmNotifi .yes,
.confirmNotifi .no {
  width:50%;
  float:left;
  padding:20px;
  box-sizing:border-box;
  transform:rotateX(90deg);
  transition:.3s;
  transform-origin:50% 0;
}
.confirmNotifi.show .yes,
.confirmNotifi.show .no {
  transform:rotateX(0);  
}
.confirmNotifi .yes {
  background:hsl(120,100%,60%);
  border-radius:0 0 0 10px;
}
.confirmNotifi.show .yes {
  transition:.7s .2s cubic-bezier(.7,.5,0,1.8);
}
.confirmNotifi.show .no {
  transition:1s .2s cubic-bezier(.7,.5,0,1.8);
}
.confirmNotifi .no {
  background:hsl(0,100%,60%);
  border-radius:0 0 10px;
}
.confirmNotifi.show .yes:hover,
.confirmNotifi.show .no:hover {
  transform:rotateX(-25deg); 
  transition:.3s;
}
.confirmNotifi .content > * {
  box-shadow:4px 4px 16px rgba(0,0,0,0.3);
}

@media (max-width:600px){
  .confirmNotifi .content {
      width:80%;
  }
}

.cbgh {
  position: relative;
  height: 240px;
  width: 900px;
  margin: 50px auto;
  background-color:#d2d6d9;
  -webkit-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.2);
}
.cbg {
  position: relative;
  height: auto;
  width: 900px;
  margin: 50px auto;
  background-color:#d2d6d9;
  -webkit-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.2);
}
#hub{
  display: flex;
  justify-content: center;
  margin: 20px
}

.buttons{
  display:flex;
  justify-content:space-around;
  margin: 80px
}






.notification {
  display: inline-block;
  position: relative;
  padding: 0.6em;
  background: #3498db;
  border-radius: 0.2em;
  font-size: 1.3em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.notification::before, 
.notification::after {
  color: #fff;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.notification::before {
  display: block;
  content: "\f0f3";
  font-family: "FontAwesome";
  transform-origin: top center;
}

.notification::after {
  font-family: Arial;
  font-size: 0.7em;
  font-weight: 700;
  position: absolute;
  top: -15px;
  right: -15px;
  padding: 5px 8px;
  line-height: 100%;
  border: 2px #fff solid;
  border-radius: 60px;
  background: #3498db;
  opacity: 0;
  content: attr(data-count);
  opacity: 0;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  transition: transform, opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.notification.notify::before {
  -webkit-animation: ring 1.5s ease;
  animation: ring 1.5s ease;
}

.notification.show-count::after {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

@-webkit-keyframes ring {
  0% {
      -webkit-transform: rotate(35deg);
  }
  12.5% {
      -webkit-transform: rotate(-30deg);
  }
  25% {
      -webkit-transform: rotate(25deg);
  }
  37.5% {
      -webkit-transform: rotate(-20deg);
  }
  50% {
      -webkit-transform: rotate(15deg);
  }
  62.5% {
      -webkit-transform: rotate(-10deg);
  }
  75% {
      -webkit-transform: rotate(5deg);
  }
  100% {
      -webkit-transform: rotate(0deg);
  }
}

@keyframes ring {
  0% {
      -webkit-transform: rotate(35deg);
      transform: rotate(35deg);
  }
  12.5% {
      -webkit-transform: rotate(-30deg);
      transform: rotate(-30deg);
  }
  25% {
      -webkit-transform: rotate(25deg);
      transform: rotate(25deg);
  }
  37.5% {
      -webkit-transform: rotate(-20deg);
      transform: rotate(-20deg);
  }
  50% {
      -webkit-transform: rotate(15deg);
      transform: rotate(15deg);
  }
  62.5% {
      -webkit-transform: rotate(-10deg);
      transform: rotate(-10deg);
  }
  75% {
      -webkit-transform: rotate(5deg);
      transform: rotate(5deg);
  }
  100% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
}

.badge{
  padding: 3px 5px 2px;
  position: absolute;
  top: 8px;
  right: 5px;
  display: inline-block;
  min-width: 10px;
  font-size: 12px;
  font-weight: bold;
  color: #ffffff;
  line-height: 1;
  vertical-align: baseline;
  white-space: nowrap;
  text-align: center;
  border-radius: 10px;
}

.Aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

#backna{
  background-color: #47b5b8;
}


.layout{
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;

}