@media only screen and (max-width: 360px) {
    #images {
        width: 220px;
        
    }
}
@media only screen and (max-width: 320px) {
    #images {
        width: 200px;
        
    }
}
#navbar{
    margin-bottom: 50px;
}