#stock {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}


#stock tr:nth-child(even){background-color: #f2f2f2;}

#stock tr:hover {
    background-color: rgb(255, 168, 168);
}

#stock td, #stock th {
    border: 1px solid rgb(255, 133, 96);
    text-align: center;
}


