
#saleslist {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#saleslist td, #saleslist th {
    border: 1px solid #ddd;
    padding: 8px;
}

#saleslist tr:nth-child(even){background-color: #f2f2f2;}

#saleslist tr:hover {
    background-color: #ddd;
}

#saleslist th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
  
#saleslist{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#saleslist td, #saleslist th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

#saleslist tr:nth-child(even){background-color: #f2f2f2;}

#saleslist tr:hover {background-color: #ddd;}

#saleslist th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
}

#desc {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 30px;
    counter-reset: rowNumber;
}

#desc td, #desc th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

#desc tr:hover {background-color: #ddd;}

#desc th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
}

#desc tbody tr {
    counter-increment: rowNumber;
}

#desc tbody tr td:first-child::before {
    content: counter(rowNumber);
    min-width: 1em;
    margin-right: 0.5em;
}

#total{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 0px;
}

#total td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    font-weight: bold;
}

.p3{
    padding-right: 113px;
}

#order{
    margin: auto;
    text-align: center;
    padding: 10px;
    color: rgb(66, 125, 252);        
}

.div1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.div2{
    margin-top: 30px;
}

.flex-container2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 150px;
}

.divbt{
    width: 200px;
    border-top: 1px solid black;
    text-align: center;
}

.button{
    margin-top: 50px;
    margin-bottom: 50px;
    float: right;
}

.order{
    margin-top: 10px;
    border: 1px solid black;
    padding: 20px;
}

.saleslist{
    margin-top: 10px;
    border: 1px solid black;
    padding: 20px;
}

#p1{
    color: rgb(66, 125, 252);
    font-weight: bold;
    font-size: 1.5em;
}

span{
    font-weight: bold;
}

#span1{
    margin-left: 3em;
    float: right;
}

#spanso{
    margin-left: 3em;
    float: right;
}
